<h1>EmberJs Adapters Test</h1>

<a href="http://thejsguy.com/2016/01/23/ember-data-and-custom-apis-5-common-serializer-customizations.html">Emberjs common transformations transformations</a>
<br>
<br>
Service url: <a href="#">http://lstken100413/Introduction/api/metadata</a>
