<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Library App{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
      </ul>
      {{!-- <ul class="nav navbar-nav">
            {{#link-to 'products' tagName="li"}}<a href="">Products</a>{{/link-to}}
      </ul> --}}
      <ul class="nav navbar-nav">
            {{#link-to 'entities' tagName="li"}}<a href="">Entities</a>{{/link-to}}
      </ul>
      <ul class="nav navbar-nav">
            {{#link-to 'logs' tagName="li"}}<a href="">Logs</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
